<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="panel panel-default">
        <div class="panel-heading">Most viewed article</div>
        <ul class="nav nav-pills nav-stacked">
            {% for post in mostview %}
                <li style="margin: 3px">
                    <a href="{{ path('acme_test_homepage_detail' , {'idPost': post.id}) }}">
                        <span class="badge pull-right">{{ post.viewed }}</span>
                        {{ "%.20s"|format(post.title) }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


